<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= link_to 'twitter', customer_user_twitter_omniauth_authorize_path %>
<%= link_to 'line', customer_user_line_omniauth_authorize_path %>
